
<div class="bg-black">

     <div class="fixed top-0 w-full border-b border-white pr-10 h-100 text-right pt-40 text-white overflow-hidden z-2 ">
          <ul>
            <div class="text-right">
            <li ><%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </div>
          </ul>
        </div>
  
  <div class="fixed left-0 border-r border-white text-white mt-100 w-1/5 pl-10 leading-10 h-700 ">
  <ul>
    <li >Home</li>
    <li >Explore</li>
    <li >Notification</li>
    <li >Message</li>
    <li >Lists</li>
    <li >Profile</li>
    <li >More</li>
    </ul>
    </div>

  <div class="fixed right-0 text-center w-4/5 h-700 float-right mt-100 text-white ">
    <div class="flex justify-between items-center">
    <%= link_to "New feed", new_feed_path %>
  </div>

  <div class="min-w-full">
    <%= render @feeds %>
    
  </div>

  <div class="w-full">
    <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"></p><%= notice %>
    <% end %>
  </div>
</div>
</div>

