
<div class="bg-black text-white">

        <div class=" fixed top-0 w-full border-b border-white h-1/6 text-right text-white overflow-hidden z-2 bg-red-200">
          <ul>
            <div class="text-right p-4 h-1/4 borde" >
            <li ><%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </div>
          </ul>
        </div>
  
  <div class=" fixed left-0 border-r border-white text-white mt-1/4 w-1/5 pl-10 leading-10 h-full bg-black">
  <ul>
    <li >Home</li>
    <li >Explore</li>
    <li >Notification</li>
    <li >Message</li>
    <li >Lists</li>
    <li >Profile</li>
    <li >More</li>
    </ul>
    </div>

  <<div class=" overflow-auto r-0 text-center w-4/5  float-right pt-1/4 bg-black">
 
    <div >
    <%= link_to "New feed", new_feed_path %>
  </div>

  <div class="min-w-full">
    <%= render @feeds %>
    
  </div>

  <div class="w-full">
    <% if notice.present? %>
    <p  id="notice"></p><%= notice %>
    <% end %>
  </div>
</div>
</div>

