  <div class="background">
  <%= image_tag "xlogo.webp", height: 30 , class:"homelogo" %>
  <div class="box">
    <h3>Happening now</h1>
    <h2>Join today</h2>
    <p>Already have an account?</p>
    <%= link_to 'Sign in', new_user_session_path %>
    <br />
  </div>
</div>